[Interface]
Address = 10.0.0.1/24
ListenPort = 51820
PrivateKey =
MTU = 1420

#Firewall rules are applied on host level
#PostUp / PostDown intentionally omitted

[Peer]
#Client 1
PublicKey =
AllowedIPs = 10.0.0.2/32
PersistentKeepalive = 25
